<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>{{options.title}}</title>
	<meta name="description" content="FrontBox CSS Documentation">
	<meta name="generator" content="kss-node">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./style/style.css">
</head>

<body class="body" id="body" {{#if template.isItem}}class="kss-fullscreen-mode" {{/if}}>

	<div class="page">
		{{!-- Navigation --}}
		<aside class="sidebar">
			<nav class="sidebar-nav" aria-label="Style Guide">
				<ul class="sidebar-nav__menu">
					{{#each menu}}
					<li class="sidebar-nav__item {{#if isActive}} is-active {{/if}}">
						<a class="sidebar-nav__link" href="section-{{referenceURI}}.html">
							{{header}}
						</a>

						{{#if isActive}}
						{{#if children}}
						<ul class="sidebar-nav__child">
							{{#each children}}
							<li class="sidebar-nav__item">
								<a class="sidebar-nav__link" href="section-{{../referenceURI}}.html#{{referenceURI}}">
									{{header}}
								</a>
							</li>
							{{/each}}
						</ul>
						{{/if}}
						{{/if}}
					</li>
					{{/each}}
				</ul>
			</nav>
		</aside>

		{{!-- Content --}}
		<main class="main kss-main" aria-label="Content">
			{{#if template.isHomepage}}
			{{#if homepage}}
			<div id="frontboxref-0" class="kss-section kss-section--depth-0 kss-overview kss-style">
				{{{homepage}}}
			</div>
			{{/if}}
			{{else}}

			{{#each sections}}

			{{!-- Page header --}}
			{{#if @first}}
			<h1 class="main-header">
				{{header}}
			</h1>
			{{else}}

			{{!-- Page content --}}
			<section id="{{referenceURI}}"
				class="section section--depth-{{depth}} {{#if @root.template.isItem}}is-fullscreen{{/if}}">

				<div class="section__body">
					<h{{depth}} class="section-title section-title--depth-{{depth}}">
						<a class="section-title__link" href="#{{referenceURI}}">
							<span class="section-title__text">
								{{header}}
							</span>
							<span class="section-title__ref">
								{{#if @root.hasNumericReferences}}
								#permalink
								{{else}}
								#{{reference}}
								{{/if}}
							</span>
						</a>
					</h{{depth}}>

					{{#if example}}
					<p class="kss-toolbar">
						{{#unless @root.template.isItem}}
						<a href="#{{referenceURI}}" data-kss-fullscreen="frontboxref-{{referenceURI}}">
							<span class="kss-toolbar__tooltip">Toggle full screen</span>
							<svg focusable="false" aria-hidden="true" class="off" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
								<path class="kss-toolbar__icon-fill"
									d="M64 0v26l-10-10-12 12-6-6 12-12-10-10zM28 42l-12 12 10 10h-26v-26l10 10 12-12z"></path>
							</svg>
							<svg focusable="false" aria-hidden="true" class="on" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
								<path class="kss-toolbar__icon-fill"
									d="M28 36v26l-10-10-12 12-6-6 12-12-10-10zM64 6l-12 12 10 10h-26v-26l10 10 12-12z"></path>
							</svg>
						</a>
						<a href="item-{{referenceURI}}.html" target="_blank">
							<span class="kss-toolbar__tooltip">Open in new window</span>
							<svg focusable="false" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
								<rect x="0" y="20" width="40" height="44" fill="#fff" />
								<path class="kss-toolbar__icon-fill" d="M40,64l-40,0l0,-44l40,0l0,44Zm-36,-40l0,36l32,0l0,-36l-32,0Z" />
								<rect class="kss-toolbar__icon-fill" x="0" y="20" width="40" height="10" />
								<rect x="24" y="0" width="40" height="44" fill="#fff" />
								<path class="kss-toolbar__icon-fill" d="M64,44l-40,0l0,-44l40,0l0,44Zm-36,-40l0,36l32,0l0,-36l-32,0Z" />
								<rect class="kss-toolbar__icon-fill" x="24" y="0" width="40" height="10" />
							</svg>
						</a>
						{{/unless}}
						<a href="#{{referenceURI}}" data-kss-guides="true">
							<span class="kss-toolbar__tooltip">Toggle example guides</span>
							<svg focusable="false" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
								<rect class="kss-toolbar__icon-fill" x="5" y="35" width="5" height="9" />
								<rect class="kss-toolbar__icon-fill" x="54" y="21" width="5" height="9" />
								<rect class="kss-toolbar__icon-fill" x="54" y="35" width="5" height="9" />
								<rect class="kss-toolbar__icon-fill" x="5" y="21" width="5" height="9" />
								<rect class="kss-toolbar__icon-fill" x="5" y="0" width="5" height="15" />
								<rect class="kss-toolbar__icon-fill" x="35" y="5" width="9" height="5" />
								<rect class="kss-toolbar__icon-fill" x="20" y="5" width="9" height="5" />
								<rect class="kss-toolbar__icon-fill" x="0" y="5" width="15" height="5" />
								<rect class="kss-toolbar__icon-fill" x="54" y="0" width="5" height="15" />
								<rect class="kss-toolbar__icon-fill" x="49" y="5" width="15" height="5" />
								<rect class="kss-toolbar__icon-fill" x="54" y="49" width="5" height="15" />
								<rect class="kss-toolbar__icon-fill" x="49" y="54" width="15" height="5" />
								<rect class="kss-toolbar__icon-fill" x="5" y="49" width="5" height="15" />
								<rect class="kss-toolbar__icon-fill" x="0" y="54" width="15" height="5" />
								<rect class="kss-toolbar__icon-fill" x="35" y="54" width="9" height="5" />
								<rect class="kss-toolbar__icon-fill" x="20" y="54" width="9" height="5" />
							</svg>
						</a>
						<a href="#{{referenceURI}}" data-kss-markup="true">
							<span class="kss-toolbar__tooltip">Toggle HTML markup</span>
							<svg focusable="false" aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 64 64">
								<path class="kss-toolbar__icon-fill"
									d="M37.555,46.239l6.103,6.103l20.342,-20.342l-20.342,-20.342l-6.103,6.103l14.24,14.239l-14.24,14.239Z" />
								<path class="kss-toolbar__icon-fill"
									d="M26.445,17.761l-6.103,-6.103l-20.342,20.342l20.342,20.342l6.103,-6.103l-14.24,-14.239l14.24,-14.239Z" />
							</svg>
						</a>
					</p>
					{{/if}}

					{{!-- Description --}}
					{{#if description}}
					<div class="section-description">
						{{{description}}}
					</div>
					{{/if}}

					{{!-- Function --}}
					{{#if function}}
					<div class="section-item">
						<h3>Function</h3>
						<pre class="code"><code class="code__content">{{{hljs function 'scss'}}}</code></pre>
					</div>
					{{/if}}

					{{!-- Arguments --}}
					{{#if arguments}}
					<div class="section-item">
						<h3>Arguments</h3>
						<table class="table">
							<thead>
								<td>Variable</td>
								<td>Type (required)</td>
								<td>Default value</td>
							</thead>
							<tbody>
								{{#kssArguments arguments}}
								<tr>
									<td class="hljs-variable">{{{argument.variable}}}</td>
									<td>{{{argument.type}}}</td>
									<td>{{{argument.value}}}</td>
								</tr>
								{{/kssArguments}}
							</tbody>
						</table>
					</div>
					{{/if}}

					{{!-- Example --}}
					{{#if usage}}
					<h3>Usage</h3>
					<pre class="code"><code class="code__content">{{{hljs usage 'scss'}}}</code></pre>
					{{/if}}

					{{!-- Output --}}
					{{#if output}}
					<h3>Output</h3>

					<div class="kss-modifier__wrapper">

						<div class="kss-modifier__example">
							<iframe class="debug-iframe" data-iframe="output"></iframe>
							<div data-iframe-content="output">
								{{{pug output}}}
							</div>
						</div>
					</div>

					<details class="kss-markup kss-style">
						<summary>
							Markup
						</summary>
						<pre class="code"><code class="code__content">{{{hljs output 'html'}}}</code></pre>
						<br>
						<pre class="code"><code class="code__content">{{{hljs (pug output) 'html'}}}</code></pre>
					</details>
					{{/if}}

					{{#if colors }}
					<ul class="kss-colors">
						{{#each colors}}
						<li>
							<figure class="kss-color">
								<div class="kss-color-figure" style="background-color:{{color}}"></div>
								<figcaption class="kss-color-caption">
									{{#if name }}
									<strong class="kss-color-name">{{ color.name }}</strong>
									{{/if}}
									<strong class="kss-color-name">{{name}}</strong>
									<code class="kss-color-code">{{color}}</code>
									{{#if description}}
									<p class="kss-color-desc">{{description}}</p>
									{{/if}}
								</figcaption>
							</figure>
						</li>
						{{/each}}
					</ul>
					{{/if}}

					{{#if parameters}}
					<div class="kss-parameters__title">Parameters:</div>
					<ul class="kss-parameters">
						{{#each parameters}}
						<li class="kss-parameters__item">
							<div class="kss-parameters__name"><code>{{name}}</code></div>
							<div class="kss-parameters__description">
								{{{description}}}
								{{#if defaultValue}}
								<div class="kss-parameters__default-value">
									Defaults to: <code>{{defaultValue}}</code>
								</div>
								{{/if}}
							</div>
						</li>
						{{/each}}
					</ul>
					{{/if}}
				</div>

				{{#if example}}
				<div class="kss-modifier__wrapper">
					<div class="kss-modifier__heading kss-style">
						Example{{#if modifiers}}s{{/if}}
					</div>

					{{#if modifiers}}
					<div class="kss-modifier__default-name kss-style">
						Default styling
					</div>
					{{/if}}

					<div class="kss-modifier__example">
						{{!-- <iframe class="debug-iframe" data-iframe="list-vertical-responsive"></iframe> --}}
						{{!-- <div data-iframe-content="list-vertical-responsive"> --}}
						{{{example}}}
						{{!-- </div> --}}
					</div>

					{{#each modifiers}}
					<div class="kss-modifier__name kss-style">
						{{name}}
					</div>
					<div class="kss-modifier__description kss-style">
						{{{description}}}
					</div>
					<div class="kss-modifier__example">
						{{{markup}}}
						<div class="kss-modifier__example-footer"></div>
					</div>
					{{/each}}
				</div>

				{{#if markup}}
				<details class="kss-markup kss-style">
					<summary>
						{{#if markupFile }}
						Markup: <code>{{markupFile}}</code>
						{{else}}
						Markup
						{{/if}}
					</summary>
					<pre class="hljs"><code class="language-handlebars">{{{hljs markup 'handlebars'}}}</code></pre>
				</details>
				{{/if}}

				{{!-- Function --}}
				{{#if mixin}}
				<div class="kss-modifier__wrapper">
					<div class="kss-modifier__heading kss-style">
						Mixin{{#if modifiers}}s{{/if}}
					</div>

					<div class="kss-modifier__example">
						@include {{{mixin}}}
						<div class="kss-modifier__example-footer"></div>
					</div>

					{{#each modifiers}}
					<div class="kss-modifier__name kss-style">
						{{name}}
					</div>
					<div class="kss-modifier__description kss-style">
						{{{description}}}
					</div>
					<div class="kss-modifier__example">
						{{{markup}}}
						<div class="kss-modifier__example-footer"></div>
					</div>
					{{/each}}
				</div>
				{{/if}}

				{{/if}}

				{{!-- Mixin --}}
				{{#if mixin}}
				<h3 class="kss-h3">Function</h3>
				<pre class="hljs"><code class="language-handlebars">{{{hljs mixin 'handlebars'}}}</code></pre>
				{{/if}}

				{{!-- Mixin Usage --}}
				{{#if mixin_usage}}
				<details class="kss-markup kss-style">
					<summary>
						Mixin usage
					</summary>
					<pre class="hljs"><code class="language-handlebars">{{{hljs mixin_usage 'handlebars'}}}</code></pre>
				</details>
				{{/if}}

				{{#if source.filename}}
				<div class="section__footer section-source">
					<p class="section-source__title">Source</p>
					<code class="section-source__link">
						<a href="https://github.com/BartoszPiwek/FrontBox-CSS/tree/master/src/style/{{source.filename}}#L{{source.line}}" target="_blank">
							{{source.filename}}
						</a>
					</code>
				</div>
				{{/if}}
			</section>
			{{/if}}

			{{/each}}

			{{/if}}
		</main>
	</div>

	<!-- SCRIPTS -->
	<script src="kss-assets/kss.js"></script>
	<script src="kss-assets/kss-fullscreen.js"></script>
	<script src="kss-assets/kss-guides.js"></script>
	<script src="kss-assets/scrollspy.js"></script>
	<script src="kss-assets/kss-markup.js"></script>
	<script>
		var spy = new ScrollSpy('#body', {
			nav: '.sidebar-nav__child > li > a',
			className: 'is-viewed'
		});
		var kssFullScreen = new KssFullScreen({
			idPrefix: 'kss-fullscreen-',
			bodyClass: 'kss-fullscreen-mode',
			elementClass: 'is-fullscreen'
		});
		var kssGuides = new KssGuides({
			bodyClass: 'kss-guides-mode'
		});
		var kssMarkup = new KssMarkup({
			bodyClass: 'kss-markup-mode',
			detailsClass: 'kss-markup'
		});
	</script>
	{{{scripts}}}

	<script>
		var $iframe = $("[data-iframe]");

		$iframe.each(function (index, element) {
			var
				$this = $(this),
				find = $this.attr("data-iframe"),
				$content = $(`[data-iframe-content="${find}"]`);

			$this.contents().find("head").append('<link rel="stylesheet" href="/kss-assets/style.css">');
			$this.contents().find("head").append('<meta name="viewport" content="width=device-width, initial-scale=1">');
			$this.contents().find("body").addClass('debug-iframe-content');
			$this.contents().find("body").append('<style> body,html { padding: 0!important; margin: 0!important; position: static!important; height: auto!important; min-height: auto!important; } </style>');
			$this.contents().find("body").append($content);
		});
	</script>
</body>

</html>